
@{
    ViewBag.Title = "Regulations";
}

<h2>Joyner Special Collections Research Room Regulations</h2>
<hr />
<p>
    We're excited to help you use the unique materials in the Special Collections of 
    J. Y. Joyner Library! Our Special Collections are open to the public--students, 
    faculty, the community, and visitors. The rare and fragile materials in our 
    collections cannot be checked out and may only be used in our on-site Research Room. 
    To help us protect these materials, in order to use them you must agree to follow 
    these regulations and any additional instructions given by Library staff.
</p>

<label class="font-weight-bold">What happens after I've registered as a researcher and requested material?</label>
<p>
    The first time you visit the Research Room, we will ask to see photo identification 
    such as a driver's license or student ID, and we'll go over these Research Room 
    regulations with you. There are free lockers available so that you can safely store 
    your backpack or other personal belongings while you use the Research Room. While 
    you get settled in, we'll get the materials you requested ready for you to use. 
    Please not that on occasion, we may not be able to provide access to certain 
    materials due to legal, privacy, or preservation restrictions.
</p>

<label class="font-weight-bold">How long will it take to use the Research Room?</label>
<p>
    Using the Research Room might be different experience than you're familiar with at 
    a library. The collections you are requesting are kept in secure storage and must 
    be retrieved for you by staff. Because the materials are often delicate, you may 
    also find that using them takes longer than you expect. We recommend you plan to 
    spend at least one hour on your first visit to the Research Room.
</p>
<p>
    Please note that the Research Room is only available during the hours that the 
    Special Collections service desk is staffed, and last call for requesting 
    materials is one-half hour before the desk closes. For the desk's current hours, 
    please see our <a href="https://lib.ecu.edu/hours/joyner/departments/spcl">Hours of Operation page</a>.
</p>

<label class="font-weight-bold">What can I bring into the Research Room?</label>
<p>
    Anything you bring into the Research Room is subject to inspection by Library 
    staff when you enter, leave, or are inside the Room.
</p>
<ul>
    <li>Loose notepaper (10 sheets max) and pencils</li>
    <li>Cell phone or other mobile device set to silent or vibrate</li>
    <li>Camera (or phone camera) with its flash turned off</li>
    <li>Laptop computer and power cord</li>
    <li>USB drive</li>
</ul>

<label class="font-weight-bold">What am I NOT allowed to bring into the Research Room?</label>
<p>
    You cannot bring anything into the Research Room that could damage, conceal, or 
    otherwise put our collections at risk. Examples include:
</p>
<ul>
    <li>Dirt, grease, and grime <em>Please wash and rinse your hands thoroughly before your visit.</em></li>
    <li>Pens, markers, or colored pencils</li>
    <li>Food, beverages, or tobacco (including gum, bottled water, and e-cigarettes)</li>
    <li>Folders, notebooks, or books, including other library books <em>If you would like to bring other research materials with you into the Research Room, please ask a staff member for assistance.</em></li>
    <li>Bags, including purses and backpacks</li>
    <li>Outerwear such as coats, hats, or umbrellas</li>
    <li>Photocopiers or scanners</li>
</ul>

<label class="font-weight-bold">How do I use collections inside the Research Room?</label>
<p>
    You must be gentle with the items and treat them with special care. We'll show you 
    how to handle delicate materials without damaging them.
</p>
<ul>
    <li>We'll provide you with one box, folder, book, or item at a time. When you're done using it, please let us know and we'll bring you the next one.</li>
    <li>You must keep folders, their contents, and any other loose materials in the order they were found.</li>
    <li>Keep items flat on the table unless instructed otherwise by staff.</li>
    <li>Some items in our collections are easily damaged by the natural oils in your skin. We'll provide you with cotton gloves so you can safely handle those items.</li>
    <li>Please do not force books open. We have book cradles and special weights available to support books while you use them.</li>
</ul>

<label class="font-weight-bold">What can I do with the information I find?</label>
<p>
    We hope your research leads you to the information you need! Please remember 
    that your use of the information you find is governed by law and ECU policy.
</p>
<ul>
    <li>You must follow all applicable privacy and non-disclosure laws and policies, and you agree to let us know immediately if you come across personally identifiable information (PII) such as social security numbers, health or student records, bank account numbers, or similar information.</li>
    <li>You must also follow all copyright regulations when making use of collection materials. Some materials in our collections are public domain, but many others are protected by copyright. In many cases, ECU does not own copyright to materials in our collections. If you wish to publish material from a copyrighted work, you may need to obtain permission from the copyright holder.</li>
    <li>We appreciate when you cite Special Collections materials. Most finding aids include the correct citation for material in that collection.</li>
    <li>There is a self-service scanner available in the Research Room. Please ask us if the materials you're using can be safely scanned. If they cannot, or if you would like us to make scans or copies, we offer reproduction services for a small fee. We may refuse to allow materials to be copied or scanned if we believe doing so would violate copyright or privacy laws.</li>
</ul>
<p>
    If we believe that you are deliberately not following these regulations, we may 
    refuse to allow you to use the Research Room or request copies--but we’d hate 
    to do that, and ultimately you are responsible for using Special Collections 
    materials in a legal and ethical way. Please help us continue to make these 
    unique historical collections available by handling and using them with care.
</p>
<p>
    If you have any questions or feedback, please let us know at <a href="mailto:specialcollections@ecu.edu">specialcollections@ecu.edu</a>! We'd love to hear from you.
</p>


<label class="font-weight-bold">Sensitive Materials Statement</label>
<p>
    Manuscript collections and archival records may contain materials with sensitive or 
    confidential information that is protected under federal or state right to privacy 
    laws and regulations, the North Carolina Public Records Act (N.C.G.S. § 132 1 et seq.), 
    and Article 7 of the North Carolina State Personnel Act (Privacy of State Employee 
    Personnel Records, N.C.G.S. § 126-22 et seq.). Researchers are advised that the 
    disclosure of certain information pertaining to identifiable living individuals 
    represented in this collection, without the consent of those individuals, may 
    have legal ramifications (e.g., a cause of action under common law for invasion of 
    privacy may arise if facts concerning an individual's private life are published that 
    would be deemed highly offensive to a reasonable person) for which East Carolina University assumes no responsibility.
</p>